.text-muted-offsidebar{
    font-weight: bold;
    font-size: 18px;
}
.text-muted-offsidebar-sub{
    font-weight: bold;
    font-size: 17px;
}
.col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 15.333333%;
}
.fa-2x {
    font-size: 1.5em;
}