<tabset [justified]="true">
    <tab>
        <!-- <ng-template tabHeading>
            <em class="icon-user fa-lg"></em>
        </ng-template>
        <h3 class="text-center text-thin mt-4">Connections</h3> -->
        <div class="list-group">
            <!-- START list title-->
            <div class="list-group-item border-0">
                <label class="text-muted-offsidebar">Reservas de hoy</label>
            </div>
            <!-- END list title-->


            <!-- START list group item-->
            <div class="list-group-item border-0">
                <div class="media">
                    <div class="col-4 bg-purple text-center d-flex align-items-center justify-content-center rounded-left rounded-right"
                    style="height: 45px;">
                    <em class="fa fa-edit fa-2x"></em>
                </div>
                    <div class="media-body text-truncate ml-3">
                        <p class="mb-1"><label class="text-muted-offsidebar-sub m-0">Sala libertad</label>
                        </p>
                        <p class="m-0">
                            <small>
                                <em>hoy 09:00 am</em>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="list-group-item border-0">
                <div class="media">
                    <div class="col-4 bg-info text-center d-flex align-items-center justify-content-center rounded-left rounded-right"
                    style="height: 45px;">
                    <em class="fa fa-users fa-2x"></em>
                </div>
                    <div class="media-body text-truncate ml-3">
                        <p class="mb-1"><label class="text-muted-offsidebar-sub m-0">Puesto de trabajo 01</label>
                        </p>
                        <p class="m-0">
                            <small>
                                <em>hoy 10:00 am</em>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="list-group-item border-0">
                <div class="media">
                    <div class="col-4 bg-info text-center d-flex align-items-center justify-content-center rounded-left rounded-right"
                    style="height: 45px;">
                    <em class="fa fa-users fa-2x"></em>
                </div>
                    <div class="media-body text-truncate ml-3">
                        <p class="mb-1"><label class="text-muted-offsidebar-sub m-0">Sala libertad</label>
                        </p>
                        <p class="m-0">
                            <small>
                                <em>hoy 11:00 am</em>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
            <!-- START list title-->
            <div class="list-group-item border-0 pt-5">
                <label class="text-muted-offsidebar">Reservas de la semana</label>
            </div>
            <!-- END list title-->
            <!-- START list group item-->
            <div class="list-group-item border-0">
                <div class="media">
                    <div class="col-4 bg-info text-center d-flex align-items-center justify-content-center rounded-left rounded-right"
                    style="height: 45px;">
                    <em class="fa fa-users fa-2x"></em>
                </div>
                    <div class="media-body text-truncate ml-3">
                        <p class="mb-1"><label class="text-muted-offsidebar-sub m-0">Sala empatia</label>
                        </p>
                        <p class="m-0">
                            <small>
                                <em>10/12/2015 09:00 am</em>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="list-group-item border-0">
                <div class="media">

                    <div class="col-4 bg-info text-center d-flex align-items-center justify-content-center rounded-left rounded-right"
                        style="height: 45px;">
                        <em class="fa fa-users fa-2x"></em>
                    </div>

                    <div class="media-body text-truncate ml-3">
                        <p class="mb-1"><label class="text-muted-offsidebar-sub m-0">Puesto de trabajo 08</label>
                        </p>
                        <p class="m-0">
                            <small>
                                <em>10/12/2015 09:00 am</em>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END list group item-->
        </div>
        <!-- Extra items-->

    </tab>
</tabset>