.col-right{
    background-color: white;
}

.content-home {
    display: flex;
    align-items: center;
    font-size: 2.7rem !important;
    line-height: 1.1;
    color: black;
    margin: 0px;
    margin-bottom: 20px;
    padding-top: 50px;
    font-weight: bold;
    margin-left: 40px;
}

.content-home-subtitle {
    font-weight: 400;
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-size: 1.5rem !important;
    line-height: 1.1;
    color: black;
}

.jumbotron{
    margin-left: 40px;
    margin-right: 450px;
    margin-top: 20px;
}