<div class="content-heading">
  <div>Tablas Auxiliares</div>
</div>
<form [formGroup]="formBusqueda" (ngSubmit)="buscar()">
  <div class="row margin">
    <!-- <div class="col-xl-3">
      <div class="form-group">
        <label class="label-filter">Empresa</label>
        <select class="custom-select custom-select-lg mb-3" formControlName="cboEmpresa">
          <option value="-1">Seleccione una empresa</option>
          <option *ngFor="let empresa of lstEmpresa" value="{{empresa.iid_empresa}}">{{empresa.vnombre_completo}}
          </option>
        </select>
      </div>
    </div> -->
    <div class="col-xl-4">
      <div class="form-group">
        <label class="label-filter">Nombre de tabla auxiliar</label>
        <input class="form-control form-control-rounded" type="text" placeholder="Ingrese información"
          autocomplete="off" formControlName="txtNombre" />
      </div>
    </div>
    <div class="col-xl-4">
      <div class="form-group">
        <label class="label-filter">Estado</label>
        <select class="custom-select custom-select-lg mb-3" formControlName="cboEstado">
          <option value="-1">Seleccione</option>
          <option value="{{estado.id}}" *ngFor="let estado of lstEstado">{{estado.value2}}</option>
        </select>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="form-group-button">
        <button class="mr-1 mb-1 btn btn-outline-primary" type="submit">Buscar</button>
      </div>
    </div>
  </div>
</form>
<!-- <div class="form-group-button mr-5 ml-5 mt-3 mb-1">
  <button class="mr-1 mb-1 btn btn-primary" type="button">Agregar</button>
</div> -->
<br>
<div class="mat-elevation-z8 ml-5 mr-5">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.iid_tabla_auxiliar}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.vdescripcion}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.vestado}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Configurar </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <button class="btn btn-sm btn-secondary" type="button" tooltip='Configurar' (click)="mostrarDialogoEditar(element)">
          <em class="fa fa-x1 fa-edit"></em>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [length]="totalRecord" [pageIndex]="pageIndex"
    [pageSize]="pageSize" (page)="changePage($event)" showFirstLastButtons aria-label="Select page">
  </mat-paginator>

</div>

<div class="form-group-button mr-5 ml-5 mt-3 mb-1">
  <button class="mr-1 mb-1 btn btn-outline-primary" type="button" (click)="Ir('/mantenimiento')">Retroceder</button>
</div>