<div class="content-heading">
    <div>Mantenimiento</div>
</div>

<div class="col-lg-10">
    <div class="content-row">
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let subMenu of subMenuItems">
                <div class="card" data-filter-group="audio">
                    <div class="card-body text-center" (click)="Ir(subMenu.link)" style="cursor: pointer;">
                        <div class="d-flex">
                            <div class="ml-auto">
                                <a class="text-muted mr-1" href="#" title="Download">
                                    <em class="fa fa-3x icon-grid fa-fw"></em>
                                </a>
                            </div>
                        </div>
                            <label class="px-4 card-title">{{subMenu.text}}</label>
                        <p>
                            <small class="text-dark">{{subMenu.descripcion}}</small>
                        </p>
                        <div class="d-flex m-0 text-muted">
                            <em class="fa fa-2x fa-arrow-right fa-fw"></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  