<div class="content-heading">
    <div>Mis reservas</div>
</div>

<div class="form-group-button mr-5 ml-5 mt-3 mb-1">
    <button class="mr-1 mb-1 btn btn-outline-primary" type="button" (click)="Ir('/reserva/nuevo')">Retroceder</button>
</div>
<div class="card-body mr-5 ml-5"
    style="background-image: url(assets/img/profile-bg.jpg); height: 300px; border-top-left-radius: 2em;border-top-right-radius: 2em;">

</div>
<div class="card mr-5 ml-5">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="b0">
                        <p class="h4 mt-0 float-right pr-5 pt-3">
                            <span class="rounded badge bg-gray-lighter px-4 mr-2 text-sm d-none d-lg-inline">
                                <span class="text-muted">Libre</span>
                            </span>
                        </p>
                        <div class="pl-5 pt-3">
                            <label class="card-title">Sala Libertad</label><br />
                            <ul class="list-unstyled px-4">
                                <li class="p-1 text-dark">
                                    <em class="fa fa-1-5 fa-calendar-alt fa-fw mr-3"></em>27 de Octubre, 10:00am.
                                </li>
                                <li class="p-1 text-dark">
                                    <em class="fa fa-1-5 fa-user-friends fa-fw mr-3"></em>6 personas
                                </li>
                                <li class="p-1 text-dark">
                                    <em class="fa fa-1-5 fa-map-marker-alt fa-fw mr-3"></em>San Borja 1234
                                </li>
                            </ul>
                            <p class="h4 mt-0 float-right pr-5">
                                <button class="mr-1 mb-1 btn btn-primary" type="button">Cancelar Reservar</button>
                                <button class="mr-1 mb-1 btn btn-primary" type="button">Check in</button>
                                <button class="mr-1 mb-1 btn btn-primary" type="button">Reservar</button>
                            </p>
                        </div>
                    </td>
                </tr>
                <hr />
                <tr>
                    <td class="b0">
                        <div class="pl-5 pt-3">
                            <label class="card-title">Más información</label><br />
                            <ul class="list-unstyled px-4">
                                <li class="p-1 text-dark">
                                    <em class="fa fa-1-5 fa-calendar-alt fa-fw mr-3"></em>5 enchufes
                                </li>
                                <li class="p-1 text-dark">
                                    <em class="fa fa-1-5 fa-user-friends fa-fw mr-3"></em>2 telefonos
                                </li>
                                <li class="p-1 text-dark">
                                    <em class="fa fa-1-5 fa-map-marker-alt fa-fw mr-3"></em>wifi
                                </li>
                                <li class="p-1 text-dark">
                                    <em class="fa fa-1-5 fa-map-marker-alt fa-fw mr-3"></em>Televisor
                                </li>
                            </ul>
                        </div>
                    </td>
                    <hr />
                </tr>
            </tbody>
        </table>
    </div>
</div>