.fa-2x{
    font-size: 1.5em;
}
.card-title{
    font-weight: bold;
    font-size: large;
}
.text-dark {
    color: #607D8B !important;
    font-size: medium;
}
.content-row{
    margin-left: 50px;
    margin-top: -30px;
}
.margin{
    margin-left: 40px;
    margin-right: 40px;
}
.form-group-button{
margin-top: 40px;
height: 50px;
}

.label-filter{
    font-size: 18px;
    color: silver;
}
.custom-select-lg {
    height: calc(1.5em + 1.25rem + 2px);
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    font-size: 1rem;
    color: silver;
    border-radius: 16px;
    height: 55px;
    border: 0px;
}
.form-control-rounded {
    border-radius: 16px;
    height: 55px;
    border: 0px;
    border-color: white;
}
.btn {
    border-radius: 12px;
    font-size: 20px;
    -webkit-appearance: none;
    outline: none !important;
    transition: all 0.1s;
}

.thumb64 {
    width: 200px !important;
    height: 150px !important;
}

.mat-tab-group {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.card {
    margin: 20px;
    box-shadow: none; 
    border: 0;
    border-radius: 4px;
    margin-bottom: 16px;
}
.card-title{
    font-weight: bold;
    font-size: large;
}
.fa-x1 {
    text-align: center;
    width: 0.8em;
    font-size: 0.8em;
}

.btn-primary {
    color: #fff;
    background-color: #5e81f4 !important;
    border-color: #5e81f4 !important;
}
table {
    width: 90%;
  }
//MatTable
.mat-header-row{
    background: inherit;
    border-bottom: 1px solid #e7e9ec !important;
}
.mat-elevation-z8 {
    border: solid #e7e9ec 1px;
    box-shadow: none;
}
.mat-header-cell {
    font-size: 14px;
    font-weight: 500;
    font-weight: bold;
    border-bottom: 1px solid #e7e9ec;
    //background-color: #e7e9ec;
    color: rgb(119, 115, 115); 
    border:0px;
}

.btn-outline-primary {
    color: #5e81f4 !important;
    border-color: #5e81f4 !important;
}

.btn-outline-primary:hover {
    color: white !important;
    background-color: #5e81f4 !important;
    border-color: #5e81f4 !important;
}
.btn-secondary {
    background-color: #fff;
    border-color: #fff;
    color: grey;
}

.margen {
    padding-left: 2.8rem;
    padding-right: 7rem;
}