<div class="content-heading">
    <div>Reportes</div>
</div>

<div class="col-lg-10">
    <div class="content-row">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card" data-filter-group="audio">
                    <div class="card-body text-center" (click)="Ir('/reportes/check')" style="cursor: pointer;">
                        <div class="d-flex">
                            <div class="ml-auto">
                                <a class="text-muted mr-1" href="#" title="Download">
                                    <em class="fa fa-3x icon-grid fa-fw"></em>
                                </a>
                            </div>
                        </div>
                            <label class="px-4 card-title">Check-in / Check-out</label>
                        <p>
                            <small class="text-dark">Aqui podrás realizar la reserva de puestos de trabajo y salas para tus reuniones.</small>
                        </p>
                        <div class="d-flex m-0 text-muted">
                            <em class="fa fa-2x fa-arrow-right fa-fw"></em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card" data-filter-group="audio">
                    <div class="card-body text-center">
                        <div class="d-flex">
                            <div class="ml-auto">
                                <a class="text-muted mr-1" href="#" title="Download">
                                    <em class="fa fa-3x icon-grid fa-fw"></em>
                                </a>
                            </div>
                        </div>
                            <label class="px-4 card-title">Top de usuarios</label>
                        <p>
                            <small class="text-dark">Aqui podrás visualizar todas las reservas realizadas y su información de cada una de ellas.</small>
                        </p>
                        <div class="d-flex m-0 text-muted">
                            <em class="fa fa-2x fa-arrow-right fa-fw"></em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card" data-filter-group="audio">
                    <div class="card-body text-center"  (click)="Ir('/reportes/reservas')" style="cursor: pointer;">
                        <div class="d-flex">
                            <div class="ml-auto">
                                <a class="text-muted mr-1" href="#" title="Download">
                                    <em class="fa fa-3x icon-grid fa-fw"></em>
                                </a>
                            </div>
                        </div>
                            <label class="px-4 card-title">Reservas</label>
                        <p>
                            <small class="text-dark">Aqui podrás realizar la reserva de puestos de trabajo y salas para tus reuniones.</small>
                        </p>
                        <div class="d-flex m-0 text-muted">
                            <em class="fa fa-2x fa-arrow-right fa-fw"></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  