.fa-2x{
    font-size: 1.5em;
}
.card-title{
    font-weight: bold;
    font-size: large;
}
.text-dark {
    color: #607D8B !important;
    font-size: medium;
}
.content-row{
    margin-left: 50px;
    margin-top: -30px;
}